<div id="background-img">
    <form class="form-floating" action="/todo" method="POST">
        <input name="description" type="text" class="form-control" id="floatingInputValue" placeholder="Write Here">
        <label for="floatingInputValue">Description</label>
      
  
     <div class="row g-2">
        <div class="col-md">
            <div class="form-floating">
              <select  name="work" class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
               
                <option selected value="Personal">Personal</option>
                <option value="Home">Home</option>
                <option value="School">School</option>
                <option value="Assignment">Assignment</option>
              </select>
              <label for="floatingSelectGrid">Category</label>
            </div>
          </div>
        <div class="col-md">
            <div id="date-picker-example" class="md-form form-floating datepicker">
                <input name="date1" placeholder="Select date" type="date" id="example" class="form-control">
                <label for="floatingSelectGrid">Date</label>
                <i class="bi bi-calendar-check-fill"></i>
              </div>
        </div>
      </div>

      <div id="task">
        <button name="butn" type="submit" id ="add" class="btn btn-primary btn-lg" value=<%= title %> >+ Add Task</button>
        </div>
    </form>

    
    <div id="list-container">
      <ul class="a">
          <% for(let i of To_Do_List) { %>
              <li class="contact">
                  <div class="details">
                  <p><%= i.description %></p>
                  <p><%= i.work %></p>
                  <p><%= i.date %></p>
                  </div>
                  <div class="delete-button">
                      <a href="/delete/?id=<%= i._id %> ">
                          <i class="fas fa-window-close"></i>
                      </a>
                  </div>
              </li>
          <%}%>
      </ul>
  </div>
    </div>